* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    h4 {
        border-bottom: 1px solid #fff;
        padding: 1em;
    }
    header {
        .hero {
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80);
            background-size: cover;
            background-repeat: no-repeat;
            height: 80vh;
        }
    }
    main {
        .container {
            padding: 2em 0 2em 0;
        }
        .row2 {
            width: 100% !important;
        }
    }
    .contacts {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1474929743204-8f756140cb14?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80);
        background-size: cover;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .footer1 {
            background-color: transparent !important;
        }
    }
}

@import "~bootstrap/scss/bootstrap"; // Import precompiled Bootstrap css